    <div>
        <h1>Welcome To Your Learning Portal</h1>
         
        <label for="subs">Choose a subject:</label>
        <select name="subs" id="subs">
          <option value="Mathematics">Mathematics</option>
          <option value="Chemistry">Chemistry</option>
          <option value="Biology">Biology</option>
          <option value="Physics">Physics</option>
        </select>

        <label for="mod">Choose a module:</label>
        <select name="mod" id="mod">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
    <button style="margin-left: 50px; width: 100px;">Go</button> 
    <div class="row">
        <div class="col-6 offset-3">
            <div class="d-grid">
                <button (click)="backToLogin()" class="btn btn-success mt-3">Login again</button>
            </div>
    
    </div>